body{
    background: #FBFCC8;
}
.container{
    width: 90%;
}
.banner{
    border-radius: 15px;
    width: 100%;
    height: 20%;
}
.aside{
    width: 20%;
    height: 70%;
    background: linear-gradient(0deg, rgba(105, 255, 102, 0.719257), rgba(105, 255, 102, 0.719257));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.article{
    width: 80%;
}
.select{
    width: 80%;
    display: block;
    margin-left: 10%;
}
.row{
    display: inline-block;
}
.card{
    text-align: center;
    width: 240px;
    height: 261px;
    margin: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.card h4{
    width: 240px;
    height: 40px;
    background: #69FF66;
}